<?php

// Copy this file to config.php and fill in your details.
// Or preferably, use environment variables as defined in docker-compose.yml

return [
    'telegram_bot_token' => getenv('TELEGRAM_BOT_TOKEN') ?: 'YOUR_TELEGRAM_BOT_TOKEN',
    'deepseek_api_key'   => getenv('DEEPSEEK_API_KEY') ?: 'YOUR_DEEPSEEK_API_KEY',
    'xai_api_key' => getenv('XAI_API_KEY') ?: 'YOUR_XAI_API_KEY',
    'openrouter_key' => getenv('OPENROUTER_KEY') ?: 'YOUR_OPENROUTER_KEY',

    'admin_chat_id' => '157056398',
     // Optional: Specify the directory to store chat logs
    'log_path' => __DIR__ . '/../data',

    // OpenRouter API details
    'openrouter_api_url' => 'https://openrouter.ai/api/v1/chat/completions',
    'openrouter_summary_model' => 'x-ai/grok-3-beta', // Or choose another suitable model
    'openrouter_chat_model' => 'google/gemini-2.5-flash', // Or choose another suitable model
    'openrouter_vision_model' => 'openai/o4-mini-high', // Or choose another suitable model
    'openrouter_image_model' => 'google/gemini-2.5-flash-image-preview', // Or choose another suitable model

    // OpenRouter provider configuration for ClickhouseAgent
//    'openrouter_tool_model' => getenv('OPENROUTER_MODEL') ?: 'google/gemini-2.5-flash-preview:thinking', // Default to Claude 3.5 Sonnet
    'openrouter_tool_model' => getenv('OPENROUTER_MODEL') ?: 'google/gemini-2.5-pro', // Default to Claude 3.5 Sonnet
//    'openrouter_tool_model' => getenv('OPENROUTER_MODEL') ?: 'moonshotai/kimi-k2', // Default to Claude 3.5 Sonnet
//    'openrouter_tool_model' => getenv('OPENROUTER_MODEL') ?: 'anthropic/claude-sonnet-4', // Default to Claude 3.5 Sonnet
    'inspector_ingestion_key' => getenv('INSPECTOR_INGESTION_KEY') ?: 'APIKEY', // Default to Claude 3.5 Sonnet

    // Webhook configuration
    'webhook_url' => getenv('WEBHOOK_URL') ?: 'https://site.com/src/webhook.php', // Set this to your webhook URL or use environment variable

    // Clickhouse database configuration
    'clickhouse' => [
        'host' => getenv('CLICKHOUSE_HOST') ?: 'YOUR_CLICKHOUSE_HOST',
        'port' => getenv('CLICKHOUSE_PORT') ?: 'YOUR_CLICKHOUSE_PORT',
        'username' => getenv('CLICKHOUSE_USERNAME') ?: 'YOUR_CLICKHOUSE_USERNAME',
        'password' => getenv('CLICKHOUSE_PASSWORD') ?: 'YOUR_CLICKHOUSE_PASSWORD',
    ],


    // Anthropic API configuration
    'anthropic' => [
        'key' => getenv('ANTHROPIC_API_KEY') ?: 'YOUR_ANTHROPIC_API_KEY',
        'model' => getenv('ANTHROPIC_MODEL') ?: 'claude-3-5-sonnet-latest',
    ],

    // Clickhouse database definition
    'clickhouse_db_definition' => '',
];
